body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css */
.app {
  display: flex;
}

.side-panel {
  width: 200px;
  padding: 10px;
  border-right: 1px solid #ccc;
}

.main-layout {
  flex: 1;
  padding: 10px;
  min-height: 500px;
  border: 1px solid #ccc;
  background: #f9f9f9;
}

.dropped-item {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
}
